
.u-page {
	padding: 15px;
	background-color: #f5f5f5;
	min-height: 100vh;
}


.u-block{
	padding: 14px;
	&__section{
		margin-bottom:10px;
	}
	&__title {
		margin-top:10px;
		font-size: 15px;
		color: $u-content-color;
		margin-bottom:10px;
	}
	&__flex{
		display: flex;
	}
}

// 使用了cell组件的icon图片样式
.u-cell-icon {
	width: 36rpx;
	height: 36rpx;
	margin-right: 8rpx;
}


.u-demo-block {
	flex: 1;
	margin-bottom: 23px;
	
	&__content {
		display: flex;
		flex-direction: column;
	}
	
	&__title {
		font-size: 14px;
		color: rgb(143, 156, 162);
		margin-bottom: 8px;
		display: flex;
		flex-direction: row;
	}
}

